---
import "@cjwilliams/ui/fonts.css"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro";
import ContainerLayout from "@/components/layouts/ContainerLayout.astro";
import LightDarkScript from "@/components/theme/LightDarkScript.astro";


interface Props {
  title: string;
}

const { title } = Astro.props;
---
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<LightDarkScript />
	</head>
	<body id="about" class="bg-gray-100 dark:bg-black text-gray-500 font-sans w-full flex flex-col ">
		<ContainerLayout>
			<Header />
			<slot />
			<Footer />
		</ContainerLayout>
  </body>
</html>