---
import Section from "@cjwilliams/ui/Section.astro"
import Text from "@cjwilliams/ui/typography/Text.astro"
import Link from "@cjwilliams/ui/typography/Link.astro"
---
<Section id="about" name="About">
  <Text>
    Forward Deployed Engineer at <Link underline href="https://www.palantir.com/">Palantir Technologies</Link>.
  </Text>
  <Text>
    Founder and Head of Technology at <Link underline href="https://www.manatii.co.uk">Manatii</Link>.
  </Text>
  <Text>
    Passionate about solving real-world problems with code.
  </Text>
</Section>