---
import Text from "@cjwilliams/ui/typography/Text.astro"
import Section from "@cjwilliams/ui/Section.astro"
import Link from "@cjwilliams/ui/typography/Link.astro"
---
<Section id="elsewhere" name="Elsewhere">
  <!-- <Text>You can also find me on these platforms:</Text> -->
  <ul class="grid grid-cols-1 md:grid-cols-3 list-['→_'] list-inside">
    <li><Link underline href="https://github.com/WilliamsCJ">GitHub</Link></li>
    <li><Link underline href="https://www.linkedin.com/in/cjwilliamsdev/">LinkedIn</Link></li>
    <li><Link underline href="https://x.com/CJWilliamsDev">X</Link></li>
  </ul>
</Section>