---
import { getCollection } from "astro:content";
import Section from "@cjwilliams/ui/Section.astro";
import Description from "@cjwilliams/ui/typography/Description.astro";
import Detail from "@cjwilliams/ui/typography/Detail.astro";
import Item from "@cjwilliams/ui/typography/Item.astro";
import Link from "@cjwilliams/ui/typography/Link.astro";
import Group from "@cjwilliams/ui/Group.astro";

const experience = await getCollection("portfolio");
---
<Section id="portfolio" name="Portfolio">
  {experience.sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()).map(e => (
    <Group>
      <Link href={e.data.link} group>
        <Item>{e.data.title}</Item>
      </Link>
      <Description>{e.data.description}</Description>
      <Detail>{e.data.publishedDate.getFullYear()}</Detail>
    </Group>
  ))}
</Section>
